

.body{
    background-color: lightgray;
    margin-bottom: 30px;
    
}
.homediv{
  padding:20px;
}
.holdacc{
  display: inline-block;
 
}
.acc{
  
  width:500px;
  height: 260px;
  padding:30px;
  padding-top: 50px;
  padding-left: 230px;
 
}
.nexttoacc{
  padding-top: 30px;
  float:right;
  width:500px;
  padding-right:100px;
  margin-right: 500px;
  padding-bottom: 50px;
}
.bigimg {
  background-image: url("imgs/main_img.jpeg");
  opacity: 1;
  min-height: 400px;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
ul {
  
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
 
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  text-decoration: none;
  color: lightgray;
}



.display-4 {
padding-left: 20px;
text-align: left;
color: #3a242d;
line-height: 1.4;
font-family: 'Roboto', sans-serif;
font-weight: 300;
font-size: 21px;
margin:0;


}
form{
  padding-left:20px;
}
select{
  padding-left: 20px;
  width: 6%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}
.displ4 {
  
  text-align: right;
  color: #3a242d;
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 21px;
  position: absolute;
  bottom: 190px;
  right: 20px;

  padding-left: 600px;
  padding-right: 20px;
  
  
  }
  .mappic {
    position: relative;
   
}

.txtforbtn{

display: inline-block;
padding-left: 20px;
text-align: left;

color:#3a242d;
line-height: 0.8;
font-family: 'Roboto', sans-serif;
font-size: 30px;
margin:0;

}
.holderhome{
  float: left;
  border: 1px solid gray;
  padding: 8px;
  text-align: center;
  
  padding-bottom: 50px;
  padding-right: 30px;

}
div.polaroid {

  
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  display:block;
  padding-left: 30px;
  
}


.btn-circle.btn-xl {
  background-color: #3a242d;
  color: white;
  width: 60px;
  height: 60px;
  padding: 10px 7px;
  border-radius: 35px;
  font-size: 20px;
  text-align: center;
  line-height: 1.33;
  margin-bottom: 20px;
  margin-left: 20px;
}


